{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
        <div class="container">
            <img class="img-fluid mb-5 d-block mx-auto" src="{% static "img/profile.png" %}" alt="Logo">
            <h1 class="text-uppercase mb-0">Start Bootstrap</h1>
            <hr class="star-light">
            <h2 class="font-weight-light mb-0">Web Developer - Graphic Artist - User Experience Designer</h2>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section class="portfolio" id="portfolio">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">Portfolio</h2>
            <hr class="star-dark mb-5">
            <div class="row">
                {% for project in projects %}
                    {% include 'main/project.html' %}
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="bg-primary text-white mb-0" id="about">
        <div class="container">
            <h2 class="text-center text-uppercase text-white">About</h2>
            <hr class="star-light mb-5">
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download
                        includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS
                        stylesheets for easy customization.</p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="lead">Whether you're a student looking to showcase your work, a professional looking to
                        attract clients, or a graphic artist looking to share your projects, this template is the
                        perfect starting point!</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">Contact Me</h2>
            <hr class="star-dark mb-5">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <form action="#contact" name="sentMessage" id="contactForm" method="post">
                        {% csrf_token %}
                        {% if messages %}
                            <ul class="messages" style="list-style-type: none;color: red;text-align:center">
                                {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Name</label>
{#                                <input class="form-control" id="name" type="text" placeholder="Name" required="required"#}
{#                                       data-validation-required-message="Please enter your name.">#}
{#                                <p class="help-block text-danger"></p>#}
                                {{ form.full_name }}
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Email Address</label>
{#                                <input class="form-control" id="email" type="email" placeholder="Email Address"#}
{#                                       required="required"#}
{#                                       data-validation-required-message="Please enter your email address.">#}
{#                                <p class="help-block text-danger"></p>#}
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Message</label>
{#                                <textarea class="form-control" id="message" rows="5" placeholder="Message"#}
{#                                          required="required"#}
{#                                          data-validation-required-message="Please enter a message."></textarea>#}
{#                                <p class="help-block text-danger"></p>#}
                                {{ form.message }}
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-xl" id="submit" value="Send">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}