{% load staticfiles %}
<div class="col-md-6 col-lg-4">
    <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">
        <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
            </div>
        </div>
        <img class="img-fluid" src="{% static project.image_path %}" alt="{{ project.img_name }}">
        <p class="lead" style="color: black">{{ project.description }}</p>
    </a>
</div>


<div class="portfolio-modal mfp-hide" id="portfolio-modal-3">
    <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-secondary text-uppercase mb-0">{{ project.title }}</h2>
                    <hr class="star-dark mb-5">
                    <img class="img-fluid mb-5" src="{% static project.image_path %}" alt="{{ project.img_name }}">
                    <p class="mb-5">{{ project.description }}</p>
                    <p class="mb-5"><a href="{{ project.url }}" class="card-link" target="_blank">{{ project.url }}</a></p>
                    <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                        <i class="fa fa-close"></i>
                        Close Project</a>
                </div>
            </div>
        </div>
    </div>
</div>