<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}

{% block head %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{{ page_description }}">
        <meta name="author" content="{{ page_author }}">

        <!-- Bootstrap core CSS -->
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="{% static "css/all.min.css" %}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
              type="text/css">

        <!-- Plugin CSS -->
        <link href="{% static "css/magnific-popup.css" %}" rel="stylesheet" type="text/css">

        <!-- Custom styles for this template -->
        <link href="{% static "css/freelancer.min.css" %}" rel="stylesheet">
        <link href="{% static "css/cookieconsent.min.css" %}" rel="stylesheet">
        <script src="{% static "js/cookie-consent-popup.js" %}"></script>
    </head>
{% endblock %}


{% block body %}
    <body id="page-top">
    {% include 'header.html' %}
    {% block content %}{% endblock %}
    {% include 'footer.html' %}
    </body>
{% endblock %}



{% block js_scripts %}
    <!-- Bootstrap core JavaScript -->
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static "js/jquery.easing.min.js" %}"></script>
    <script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static "js/jqBootstrapValidation.js" %}"></script>
    <script src="{% static "js/contact_me.js" %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static "js/freelancer.min.js" %}"></script>
    <script src="{% static "js/cookieconsent.min.js" %}"></script>
{% endblock %}

</html>
